[Unit]
Description=Make rfcomm device for ant2mqtt converter
After=multi-user.target
Before=ant2mqtt.service

[Service]
ExecStart=/usr/bin/rfcomm bind /dev/rfcomm0 61:2A:1E:DD:D2:2D
#ExecStop=/usr/bin/rfcomm release /dev/rfcomm0 61:2A:1E:DD:D2:2D
Type=simple

[Install]
WantedBy=multi-user.target
